<div class="editable" cdkDropList *ngIf="editable" (cdkDropListDropped)="dropped($event)">
    <div cdkDrag *ngFor="let opt of props.options; let i = index">
        <mat-form-field class="r-form-field">
            <input #option matInput [(ngModel)]="opt.value" />
        </mat-form-field>

        <div *cdkDragPreview class="drag-preview">
            {{ opt.value }}
        </div>

        <div class="button mv" cdkDragHandle><img src="assets/move.svg" width=15></div>
        <div class="button" (click)="remove(i)"><img src="assets/cross.svg" width=15></div>
    </div>

    <mat-form-field floatLabel="never" *ngIf="props.other" class="r-form-field">
        <input matInput value="Other..." disabled />
    </mat-form-field>

    <mat-form-field floatLabel="never">
        <input matInput (input)="newOption($event)" placeholder="Add option" />
    </mat-form-field>

    <button mat-button class="add-other" (click)="props.other = !props.other">TOGGLE "OTHER"</button>
</div>

<div *ngIf="!editable && !checkbox">
    <mat-radio-group
        class="radio-group"
        [(ngModel)]="props.response"
        (change)="validate()">

        <mat-radio-button class="radio-button" *ngFor="let opt of props.options" [value]="opt.value">
            {{ opt.value}}
        </mat-radio-button>

        <mat-radio-button class="radio-button" *ngIf="props.other" [value]="props.other_val">
            <input matInput (input)="otherChange($event)" placeholder="Your answer" class="plain-input" />
        </mat-radio-button>
    </mat-radio-group>
</div>

<div *ngIf="!editable && checkbox">
    <div class="radio-group">
        <mat-checkbox class="radio-button" *ngFor="let opt of props.options"
                      [(ngModel)]="opt.checked" (change)="validate()">
            {{ opt.value}}
        </mat-checkbox>

        <mat-checkbox class="radio-button" [(ngModel)]="props.other_checked"
                      *ngIf="props.other" (change)="validate()">
            <input matInput [(ngModel)]="props.other_val"
                   placeholder="Your answer" class="check-other plain-input"
                   (input)="validate()" />
        </mat-checkbox>
    </div>
</div>
