.lu-div {
    display: inline-block;
}

.lu-val {
    width: 40px;
    margin-right: 20px;
    display: inline-block;
}

.to, .label {
    margin-right: 20px;
    display: inline-block;
}

.label {
    margin-right: 10px;
    font-size: 0.8em;
    color: gray;
}

.linear-box, .radio-group {
    display: flex;
}

.linear-box div, .radio-button {
    flex-grow: 1;
}

.right-align {
    text-align: right;
}

.linear-box .lbl {
    margin-right: 15px;
}

.linear-box .lbl.right-align {
    margin-left: 15px;
    margin-right: 0;
}

@media (max-width: 900px) {
    .linear-box {
        overflow-x: auto;
    }
}
