<div *ngIf="form && form.pages" class="main">
  <div class="page mat-elevation-z3">
    <div class="page-no">Form Options</div>
    <div class="form-options">
      <mat-slide-toggle [(ngModel)]="form.require_login">
        Require Login
      </mat-slide-toggle>
      <br /> <br />
      <mat-slide-toggle [(ngModel)]="form.collect_email">
        Collect Email Addresses
      </mat-slide-toggle>
    </div>
  </div>

  <div *ngFor="let page of form.pages; let i = index" class="page mat-elevation-z3">
      <div class="page-no">Section {{ i + 1 }} of {{ form.pages.length }}</div>
      <app-new-page [page]="page"></app-new-page>
      <button mat-button color="primary" class="add-section" (click)="addSection(i)">
        New section
      </button>
      <button *ngIf="form.pages.length > 1"
              mat-button color="warn" class="add-section" (click)="removeSection(i)">
        Remove section
      </button>
  </div>

  <div class="save">
    <button (click)="save()" class="save" mat-raised-button color="accent" [disabled]="submitted"> SAVE </button>
  </div>

  <button *ngIf="id" mat-fab class="rl-fab" [routerLink]="['/response', id]">
    <mat-icon>view_list</mat-icon>
  </button>
</div>

<div *ngIf="!form && submitted" class="page sub mat-elevation-z3">
  <div class="title"> Your form has been created </div> <br/>
  <div class="description"> Thank you for using Cerium! <br/><br/>
    Form:
    <a target="_blank" href="{{origin}}/form/{{submission}}">{{origin}}/form/{{submission}}</a>

    <br/><br/>
    Responses:
    <a href="{{origin}}/edit/{{submission}}">{{origin}}/edit/{{submission}}</a>
  </div>
</div>
