<div *ngIf="form && form.pages" class="main">
  <div class="page mat-elevation-z3">
    <div class="title">{{ page.title }}</div>
    <div class="description">{{ page.description }}</div>

    <div class="widget"
         *ngFor="let widget of page.widgets" @fadeIn>
      <app-widget [widget]="widget"></app-widget>
    </div>

    <button class="next" mat-raised-button color="primary"
            [routerLink]="nextPage()" *ngIf="!canSectionSubmit()">
      NEXT
    </button>

    <button (click)="submit()" class="save" mat-raised-button color="accent"
            *ngIf="canSectionSubmit()">
      SUBMIT
    </button>
  </div>
</div>