.head-dark {
    background-color: var(--primary-dark);
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
}

.pl, .head-dark {
    height: 100px;
}

.username {
    font-size: 0.85em;
    color: white;
    top: calc(10px + (40px - 2.2em) / 2); left: 63px;
    position: fixed;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    top: 10px; left: 15px;
    position: fixed;
}

.profile {
    cursor: pointer;
}

@media (max-width: 900px) {
    .avatar, .username {
        position: absolute;
    }
}
