<div *ngIf="initialized">
    <div class="head-dark"></div>

    <ng-container *ngIf="dataService.isLoggedIn()">
        <img class="avatar" src="https://gymkhana.iitb.ac.in{{ dataService.getUser().profile_picture }}" />

        <div class="username">
            {{ dataService.getUser().first_name }} {{ dataService.getUser().last_name }} <br/>
            {{ dataService.getUser().roll_number }} <br />
        </div>
    </ng-container>

    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
