.head-dark {
    background-color: var(--primary-dark);
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
}

.pl, .head-dark {
    height: 100px;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: auto;
    z-index: 100;
}
