<div class="inner">
  <div class="header widget">
    <mat-form-field floatLabel="never" class="title">
      <input matInput placeholder="Section title" type="text" [(ngModel)]="page.title" />
    </mat-form-field>
    <mat-form-field floatLabel="never" class="description">
      <textarea matInput placeholder="Section description" matTextareaAutosize [(ngModel)]="page.description"></textarea>
    </mat-form-field>
  </div>

  <button (click)="addWidget()"
          mat-button color="primary" class="add-widget">
    Add Question
  </button>
  <br />

  <div cdkDropList (cdkDropListDropped)="dropped($event)">
    <div class="widget"
         *ngFor="let widget of page.widgets" cdkDrag>

      <div class="drag-handle" cdkDragHandle>
        <img src="assets/move.svg" width=15>
      </div>

      <div *cdkDragPreview class="drag-preview">
        {{ widget.props.question }}
      </div>

      <app-editable-widget [widget]="widget">
      </app-editable-widget>
    </div>
  </div>
</div>