button.add-widget {
    float: right;
    margin-right: 20px;
}

.widget:focus-within, .cdk-drag-preview {
    border-left: 4px solid var(--primary-dark);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.header {
    width: 75%;
    margin: 0 !important;
    margin-left: calc(20px + 10px);
    box-shadow: none !important;
}

.widget {
    padding: 10px 30px;
    padding-bottom: 30px;
    margin: 15px 0;
    border-left: 4px solid transparent;
    transition: border-left 0.5s ease, box-shadow 0.5s ease;
}

.drag-handle {
    margin: 0 auto;
    text-align: center;
    cursor: move;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.widget:hover .drag-handle {
    opacity: 1;
}
