.question {
    width: 100%;
    margin-bottom: 4px;
    font-size: 1.2em;
}

.type {
    float: right;
    margin-bottom: 4px;
}

.divider {
    margin-top: 20px;
}

.extra-actions {
    display: none;
    text-align: right;
    width: 100%;
}

.widget:focus-within .extra-actions {
    display: inline-block;
}
