<div *ngIf="widget" class="widget">
  <mat-form-field floatLabel="never" class="question">
    <textarea matInput matTextareaAutosize placeholder="Question"
              [(ngModel)]="widget.props.question">
    </textarea>
  </mat-form-field>

  <mat-form-field floatLabel="never" class="type">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="widget.type">
      <mat-option *ngFor="let opt of WIDGET_OPTIONS" [value]="opt.value">
        {{ opt.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-widget-switch [widget]="widget" [editable]="true"></app-widget-switch>

  <div class="extra-actions">
    <div class="divider"></div>
    <button color="primary" mat-icon-button (click)="delete.emit()">
      <mat-icon>delete</mat-icon>
    </button>
    <button color="primary" mat-icon-button (click)="duplicate.emit()">
      <mat-icon>file_copy</mat-icon>
    </button>
    &nbsp;&nbsp;
    <mat-slide-toggle class="required" [(ngModel)]="widget.props.validators.required">
      Required
    </mat-slide-toggle>
  </div>

</div>
