<div *ngIf="widget">
  <input type="text" [(ngModel)]="widget.props.question" />

  <select [(ngModel)]="widget.type">
    <option *ngFor="let val of Object.keys(WIDGET_TYPES)"
            [value]="WIDGET_TYPES[val]">
      {{ WIDGET_NAMES[val] }}
    </option>
  </select>

  <ng-container [ngSwitch]="widget.type">
    <app-w-short-answer *ngSwitchCase="WIDGET_TYPES.short_answer"
                        [editable]="true" [props]="widget.props">
    </app-w-short-answer>

    <app-w-paragraph *ngSwitchCase="WIDGET_TYPES.paragraph"
                        [editable]="true" [props]="widget.props">
    </app-w-paragraph>
  </ng-container>
</div>
