@import '~handsontable/dist/handsontable.full.css';

html, body {
    --primary-color: rgb(240, 235, 248);
    --primary-dark: rgb(103, 58, 183);
    --primary-dark-fore: white;
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--primary-color);
    overflow-y: scroll;
    overflow-x: hidden;
}

.drag-preview {
    background-color: var(--primary-dark);
    color: var(--primary-dark-fore);
    padding: 20px;
    max-width: 500px;
    word-wrap: normal;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.form-field {
    width: 100%;
    display: inline-block;
}

.mat-form-field > .mat-form-field-wrapper {
    margin-bottom: -1.25em;
}

.plain-input {
    border: none;
    font-size: 1em;
}

.title {
    font-size: 1.6em;
}

.description, .title {
    width: 100%;
    font-weight: 300;
}

.monospace {
    font-family: monospace;
}

.rl-fab {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
}
