<div *ngIf="forms" class="main">
  <div class="page sub mat-elevation-z3">
    <div class="title"> All Cerium Forms </div> <br/>
    <div class="description"> These are the forms you have created
    <button mat-raised-button color="accent" class="new-button" [routerLink]="['/new']"> New </button>
    <br/><br/>
    </div>
  </div>

  <mat-accordion>

      <mat-expansion-panel *ngFor="let item of forms">
        <mat-expansion-panel-header>
          {{item.Name}}
        </mat-expansion-panel-header>

        <button mat-raised-button color="primary" [routerLink]="['/edit', item.ID]" >Edit</button>
        <button mat-raised-button color="primary" [routerLink]="['/m', item.ID, '0']" class="link-button">Form Link</button>
        <button mat-raised-button color="primary" [routerLink]="['/response', item.ID + '-' + item.Token]"
           class="link-button">
          Responses
        </button>
        <button mat-raised-button color="warn" (click)="removeSection(item.ID, item.Name)" style="float: right">Delete</button>

      </mat-expansion-panel>

    </mat-accordion>
</div>

<div class="main" *ngIf="getError">
  <div class="page mat-elevation-z3">
    <div class="title"> There was an error </div>
    <div class="description"> {{ getError.status }} - {{ getError.message }} </div>

    <ng-container *ngIf="!dataService.isLoggedIn()">
      <br/>
      <button mat-raised-button color="accent" (click)="dataService.gotoSSO()">Login</button>
    </ng-container>
  </div>
</div>
